{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <div>
        <table class="section" cellpadding="10">
            <thead>
                <tr>
                    <th>Stock</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{result.symbol}}</td>
                    <td>{{result.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
